*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color: var(--black);
    background-color: var(--white);
}

.dark-theme {
    --black: #CCCCCC;
    --white: #031923;
}

.dark-theme .social-link {
    background-color: #CCCCCC;
}

footer {
    color: var(--white);
    background-color: var(--black);
}

.dark-theme .main-footer {
    color: var(--black);
    background-color: var(--white);
    border-top: 1px solid var(--black);
}

.main-header {
    display: flex;
    padding-top: 60px;
    gap: 40px;
    align-items: center;
    margin: 0;
    margin-bottom: 120px;
}
.main-header-wrap {
    line-height: 0;
}


.main-header nav a {
    display: inline-block;
}

.main-footer{
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-footer p{
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    margin: 0;
    margin-bottom: 20px;
}

h2 {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    margin: 0;
    margin-bottom:40px;
}

h3 {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

a, button {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

button {
    padding: 6px 10px 10px 10px;
    border: 1px solid var(--green);
    border-radius: 8px;
    color: var(--green);
    background-color:transparent;
    cursor: pointer;
    text-transform: lowercase;

}

button:hover {
    color: var(--white);
    background-color: var(--green);
}

.subtitle {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    color: var(--green);
    margin: 0;
}

.name img {
    border-radius: 50%;
}

.name {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 70px;
}

.name h1 {
    margin: 0;
    margin-bottom: 20px;
}

.name p {
    margin: 0;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.name, .Me, .skills, .interests, .contacts {
    margin-bottom: 120px;
} 

.main-nav {
    display: flex;
}

.main-nav a {
    text-decoration: none;
    margin: 0 auto;
    padding: 10px 15px;
    color: var(--black);
    
}



.main-nav a:hover {
    color: var(--green);
}

.sort {
    display: flex;
    gap: 20px;
    align-items: center
}

.social {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.contact {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 37px;
    list-style-type: none;
    margin-bottom: 40px;
}

.contact li {
    display: inline-block;
    margin: 0;
    padding: 0;
}


.social-link {
    display: block;

    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    color: var(--green);
    border: 1px solid var(--green);
    background-repeat:  no-repeat;
    background-position: center;
}

.contact-link {
    display: block;
    text-decoration: none;

    padding-left: 42px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;

    color: var(--black);
    background-repeat:  no-repeat;
    background-position: left;
}

.social-link:hover {
    color: var(--white);
    background-color: var(--green);
}

.contact-link:hover {
    color: var(--green);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    --black: #212121;
    --green: #09A494;
    --white: #FFFFFF;
}

.social-link_github {
    background-image: url(../img/github.svg);
}

.social-link_gitlab {
    background-image: url(../img/gitlab.svg);
}

.social-link_instagram {
    background-image: url(../img/instagram.svg);
}

.social-link_telegram {
    background-image: url(../img/telegram.svg);
}

.social-link_vk {
    background-image: url(../img/vk.svg);
}

.contact-link_phone {
    background-image: url(../img/phone.svg);    
}

.dark-theme .contact-link_phone {
    background-image: url(../img/dark_phone.svg);    
}

.contact-link_mail {
    background-image: url(../img/mail.svg);    
}

.dark-theme .contact-link_mail {
    background-image: url(../img/dark_mail.svg);    
}

.skills {
    
    
}

.skills div h2 {
    margin: 0;
}

.skills >div {
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    margin: 0;
    margin-bottom: 40px;
    gap: 40px;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}


.skill-list dt {
    margin-bottom: 5px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}


.skill-level {
    margin: 6px 0 20px;
    padding: 1px;
    font-size: 0;
    border: 1px solid var(--black);
    border-radius: 16px;
}


.skill-level div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;
}


.skill-item {
    text-transform: lowercase;
}

/*
.skill-item_html {
    background-image: url(../img/html.svg);
}


.skill-item_css {
    background-image: url(../img/css.svg);
}


.skill-item_cpp {
    background-image: url(../img/c++.svg);
}
*/

.skill-item_python {
    background-image: url(../img/python.svg);
}

.text-wrapper {
    max-width: 800px;
}

.text-wrapper p {
    margin: 0;
    margin-bottom: 15px;
}

.text-wrapper p:last-child {
    margin-bottom: 0;
}

.nav-btn {
    display: none;
}



@media screen and (max-width: 1024px) {   
	/* переопределение свойств */   
}

@media screen and (max-width: 1024px) {   
	h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    
    body {
        font-size: 16px;
    }

    a, button {
        font-size: 16px;
    }

    .subtitle {
        font-size: 28px;
    }
    .name img {
        width: 250px;
        height: 250px;
    }
    .main-header {
        margin-bottom: 80px;
    }   
    .name, .Me, .skills, .interests, .contacts {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 650px) {   
	h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    
    body {
        font-size: 14px;
    }

    a, button {
        font-size: 14px;
    }

    .subtitle {
        font-size: 20px;
    }
    .name img {
        width: 150px;
        height: 150px;
    }
    
    .main-header{
        padding-top: 20px;
        /*display: block;*/
        text-align: center;
        gap: 0;
        
        flex-direction: column
    }
    .main-header img{
        width: 40px;
        height: 40px;
    }
    .main-nav {
        /*gap: 20px;*/
        flex-direction: column;
        /*padding: 15px 0px;*/
    }
    .main-nav a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .nav-btn {
        display: block;
        width: 30px;
        height: 30px;
        border: none;
    }
    .nav-btn:hover {
        background-color: transparent;
    }
    .nav-btn_close {
        background-image: url(../img/close.svg);
    }
    .nav-btn_open {
        background-image: url(../img/burger.svg);
    }

    /*.nav-btn_close:hover {
        color: var(--white);
        background-color: var(--green);
    }*/

    .main-header-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        margin-bottom: 20px;
    }

    .name {
        flex-direction:column-reverse;
        gap: 30px;
    }
    .name h1 {
        margin-bottom: 10px;
    }
    .name img {
        width: 150px;
        height: 150px;
    }
    .name div {
        gap: 10px;
        text-align: center;
    }
    h2 {
        margin-bottom: 30px;
    }
    .skills dl{
        margin-top: 30px;
    }

    .contact li a{
        padding: 8px 0px 8px 42px;
    }
    
    .main-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .main-header {
        margin-bottom: 60px;
    }    
    .name, .Me, .skills, .interests, .contacts {
        margin-bottom: 60px;
    }
     
    .social {
        gap: 20px;
    }
    .skills >div{
        margin-bottom: 36px;
    }
    .skill-list dt {
        margin-bottom: 5px;
    }
    .skill-level {
        margin: 6px 0 28px;
    }
    .contact {
        margin-bottom: 30px;
    }

    .main-nav_closed {
        display: none;
    }
}

@media screen and (max-width: 360px) {   
    .contacts h2{
        margin-bottom: 30px;
    }
    .contact {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 20px;
    }
    .social {
        flex-wrap: wrap;
    }
    .main-header {
        margin-bottom: 50px;
    }  
    .name, .Me, .skills, .interests, .contacts {
        margin-bottom: 50px;
    }  
    .social {
        gap: 15px;
    }
    /*.main-footer {
        padding: 30px 140px 30px 20px;
    }*/

    .nav-btn {
        border-radius: 0;
    }
}

@media screen and (max-width: 570px) {   
	
    .skills-head {
        flex-wrap: wrap;
    }  
}

@media screen and (max-width: 380px) {  
    .skills {
        gap: 0;
    }
    .skills div{
        align-items: start;
    }
    .skills h2{
        
        align-items: start;
    }
    .skills >div{
        flex-direction: column;
        gap: 16px;
        align-items: start;
        margin-bottom: 27px;
    }
    .skills button{
        width: 100%;
        text-align: center;
        align-items: center;
        /*padding: 6px 8px 7px 10px;*/
    }
    .sort {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .skills dl {
        margin-top: 37px;
    }
    .skill-list dt {
        margin-bottom: 3px;
    }
    .skill-level {
        margin: 6px 0 26px;
    }
}

@media screen and (max-width: 720px) {   
	.name img {
        width: 150px;
        height: 150px;
    }
}