*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color: var(--black);
}

footer {
    color: var(--white);
    background-color: var(--black);
}

.main-header {
    display: flex;
    padding-top: 60px;
    gap: 40px;
    align-items: center;
    margin: 0;
    margin-bottom: 120px;
}

.main-header nav a {
    display: inline-block;
}

.main-footer {
    padding: 30px 50px;
}

h1 {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
}

h2 {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    margin: 0;
    margin-bottom:40px;
}

h3 {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

a, button {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

button {
    padding: 6px 8px 7px 10px;
    border: 1px solid var(--green);
    border-radius: 8px;
    color: var(--green);
    background-color:transparent;
    cursor: pointer;
    text-transform: lowercase;

}

button:hover {
    color: var(--white);
    background-color: var(--green);
}

.subtitle {
    font-family: "Open Sans", "Arial", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 120%;
    color: var(--green);
}

.name img {
    border-radius: 50%;
}

.name {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.name div h1 {
    margin: 0;
    margin-bottom: 20px;
}

.name div p {
    margin: 0;
    margin-bottom: 0;
}

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.container section {
    margin-bottom: 120px;
}

.main-nav {
    display: flex;
}

.main-nav a {
    display: flex;
    text-decoration: none;
    margin: 0 auto;
    padding: 10px 15px;
    color: var(--black);
    
}

.main-nav a:hover {
    color: var(--green);
}

.Sort {
    display: flex;
    gap: 20px;
}

.social {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.contact {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 37px;
    list-style-type: none;
    margin-bottom: 40px;
}

.contact li {
    display: inline-block;
    margin: 0;
    padding: 0;
}


.social-link {
    display: block;

    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    color: var(--green);
    border: 1px solid var(--green);
    background-repeat:  no-repeat;
    background-position: center;
}

.contact-link {
    display: block;
    text-decoration: none;

    padding-left: 42px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;

    color: var(--black);
    background-repeat:  no-repeat;
    background-position: left;
}

.social-link:hover {
    color: var(--white);
    background-color: var(--green);
}

.contact-link:hover {
    color: var(--green);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    --black: #212121;
    --green: #09A494;
    --white: #FFFFFF;
}

.social-link_github {
    background-image: url(../img/github.svg);
}

.social-link_gitlab {
    background-image: url(../img/gitlab.svg);
}

.social-link_instagram {
    background-image: url(../img/instagram.svg);
}

.social-link_telegram {
    background-image: url(../img/telegram.svg);
}

.social-link_vk {
    background-image: url(../img/vk.svg);
}

.contact-link_phone {
    background-image: url(../img/phone.svg);    
}

.contact-link_mail {
    background-image: url(../img/ContactsIcon.svg);    
}

.skills {
    
    
}

.skills div h2 {
    margin: 0;
}

.skills >div {
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    margin: 0;
    margin-bottom: 40px;
}

.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}


.skill-list dt {
    margin-bottom: 5px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}


.skill-level {
    margin: 6px 0 20px;
    padding: 1px;
    font-size: 0;
    border: 1px solid var(--black);
    border-radius: 16px;
}


.skill-level div {
    height: 14px;
    background-color: var(--green);
    border-radius: 8px;
}


.skill-item {
    text-transform: lowercase;
}


.skill-item_html {
    background-image: url(../img/html.svg);
}


.skill-item_css {
    background-image: url(../img/css.svg);
}


.skill-item_cpp {
    background-image: url(../img/c++.svg);
}


.skill-item_python {
    background-image: url(../img/python.svg);
}

.text-wrapper {
    max-width: 800px;
}

.text-wrapper p {
    margin: 0;
    margin-bottom: 15px;
}

.text-wrapper p:last-child {
    margin-bottom: 0px;
}